# Control Flow

## IF ELIF ELSE Statements

In [2]:
if True:
    print('Its True')

Its True

In [3]:
if 3 > 2:
    print('Its True')

Its True

In [4]:
hungry = True

if hungry:
    print('Feed me.')

Feed me.

In [6]:
hungry = False

if hungry:
    print('Feed me.')
else:
    print('Im not hungry')

Im not hungry

In [9]:
loc = 'Bank'

if loc == 'Auto Shop':
    print('cars are cool')
elif loc == 'Bank':
    print('money is cool')
else:
    print('i do not know much')

money is cool

## FOR Loops

In [10]:
my_list = [1,2,3,4,5,6,7,8,9,10]

In [11]:
for num in my_list:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [12]:
for num in my_list:
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [14]:
# print only even numbers
for num in my_list:
    if num % 2 == 0:
        print(num)
    else:
        print(f'Odd number: {num}')

Odd number: 1
2
Odd number: 3
4
Odd number: 5
6
Odd number: 7
8
Odd number: 9
10

In [15]:
list_sum = 0

for num in my_list:
    list_sum = list_sum + num
    
print(list_sum)

55

In [16]:
list_sum = 0

for num in my_list:
    list_sum = list_sum + num
    
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [17]:
my_string = 'Hello world'

for letter in my_string:
    print(letter)

H
e
l
l
o

w
o
r
l
d

In [18]:
for letter in 'hello world':
    print(letter)

h
e
l
l
o

w
o
r
l
d

In [21]:
tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

In [22]:
my_list = [(1,2), (3,4), (5,6)]

In [23]:
len(my_list)

3

In [24]:
for item in my_list:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [26]:
# tuple unpacking
for (a,b) in my_list:
    print(a)

1
3
5

In [30]:
d = {'k1':1,'k2':2,'k3':3}

for item in d:
    print(item)

k1
k2
k3

In [31]:
d = {'k1':1,'k2':2,'k3':3}

for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [32]:
d = {'k1':1,'k2':2,'k3':3}

for key,value in d:
    print(value)

1
2
3

## WHILE Loops

In [34]:
x = 0

while x < 5:
    print(f'x is now {x}')
    x = x + 1

x is now 0
x is now 1
x is now 2
x is now 3
x is now 4

In [36]:
x = 0

while x < 5:
    print(f'x is now {x}')
    x += 1

x is now 0
x is now 1
x is now 2
x is now 3
x is now 4

In [37]:
x = 0

while x < 5:
    print(f'x is now {x}')
    x += 1
else:
    print('x is not less than 5')

x is now 0
x is now 1
x is now 2
x is now 3
x is now 4
x is not less than 5

## Break, Continue, Pass

```
    break: breaks out of the current closest loop
    continue: goes to the top of the closest closing loop
    pass: does nothing at all
```

In [38]:
x = [1,2,3,4,5]

for item in x:
    pass

In [39]:
my_string = 'carl'

In [40]:
for letter in my_string:
    print(letter)

c
a
r
l

In [41]:
# continue skips back to the closest enclosing loop
for letter in my_string:
    if letter == 'a':
        continue
    print(letter)

c
r
l

In [43]:
# breaks out of the closest loop
for letter in my_string:
    if letter == 'a':
        break
    print(letter)

c

In [44]:
x = 0

while x < 5:
    
    if x == 2:
        break
    print(x)
    x += 1

0
1

## Useful Python Operators

### Range
The `range()` function is used to generate numbers in a range.

In [1]:
my_list = [1,2,3]

In [2]:
# prints all numbers up to 10
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [3]:
# include a starting point
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [4]:
# include a step size
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [5]:
# create a list in one line
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

### Enumerate
`enumerate` can be used to count the number of times a loop runs, or to keep an index of the number of iterations.

In [7]:
index_count = 0

for letter in 'abcdefg':
    print(f'At index {index_count} the letter is {letter}.')
    index_count += 1

At index 0 the letter is a.
At index 1 the letter is b.
At index 2 the letter is c.
At index 3 the letter is d.
At index 4 the letter is e.
At index 5 the letter is f.
At index 6 the letter is g.

In [8]:
# same function as above using enumerate
word = 'centola'

for item in enumerate(word):
    print(item)

(0, 'c')
(1, 'e')
(2, 'n')
(3, 't')
(4, 'o')
(5, 'l')
(6, 'a')

In [10]:
# enumerate with tuple unpacking
word = 'centola'

for index,letter in enumerate(word):
    print(letter)

c
e
n
t
o
l
a

### Zip
`zip()` combines the contents of multiple lists into tuples.

In [12]:
my_list1 = [1,2,3]
my_list2 = ['a','b','c']

In [13]:
# zip 2 lists together into tuples
for item in zip(my_list1, my_list2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [14]:
# same as above with tuple unpacking
for index,letter in zip(my_list1, my_list2):
    print(index)
    print(letter)
    print('\n')

1
a


2
b


3
c

In [15]:
my_list1 = [1,2,3]
my_list2 = ['a','b','c']
my_list3 = [100,200,300]

# zip 3 lists together into tuples
for item in zip(my_list1, my_list2, my_list3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [16]:
my_list1 = [1,2,3,4,5,6]
my_list2 = ['a','b','c']
my_list3 = [100,200,300]

# zip ignores unmatching tuples
for item in zip(my_list1, my_list2, my_list3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [17]:
# create a list from zip in a single line
list(zip(my_list1, my_list2))

[(1, 'a'), (2, 'b'), (3, 'c')]

### IN

In [19]:
'a' in [1,2,3]

False

In [20]:
'x' in ['x','y','z']

True

In [21]:
'a' in 'Carl Centola'

True

In [22]:
'k' in {'k':345}

True

In [23]:
d = {'k':345}

345 in d.values()

True

### MIN MAX

In [24]:
my_list = [10,20,30,40,100]

In [25]:
min(my_list)

10

In [26]:
max(my_list)

100

### Random

In [27]:
from random import shuffle

In [28]:
my_list = [1,2,3,4,5,6,7,8,9]

In [29]:
shuffle(my_list)

In [30]:
my_list

[1, 9, 4, 5, 8, 7, 6, 2, 3]

In [31]:
from random import randint

In [32]:
randint(0,100)

77

In [33]:
randint(0,100)

29

In [34]:
input('Enter a number: ')

'50'