# Connecting to a Database

Connecting to a database is a common issue in data analysis. Often it is easy to create SQL statements, but it can be somewhat cumbersome to convert those statements into useable data without installing some additional software. Jupyter Notebooks offer a convenient way to connect directly to your favorite database without ever having to leave the comfort of your notebook.

In this notebook, I will be demonstrating this functionaity using the iris dataset as sample data and sqlite as my database of choice.

In [1]:
# import libraries
import pandas as pd
import sqlite3

In [2]:
# read the CSV
df = pd.read_csv('../data/Iris.csv')

First we need to connect to a database and import our data.

In [3]:
# connect to a database
conn = sqlite3.connect('iris.db')

# store your table in the database
df.to_sql('iris', conn, if_exists='replace')

In [4]:
# read a SQL Query out of your database and into a pandas dataframe
sql_string = 'SELECT * FROM iris'
df_sql = pd.read_sql(sql_string, conn)

In [5]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [6]:
df_sql.head()

,index,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,4,5,5.0,3.6,1.4,0.2,Iris-setosa

Next, using Jupyter magic commands, we can query our database tables using the familiar SQL dialect we all know and love.

In [7]:
%load_ext sql

In [8]:
%sql sqlite:///iris.db

'Connected: None@iris.db'

In [9]:
%sql select * from iris limit 10

Done.

[(0, 1, 5.1, 3.5, 1.4, 0.2, 'Iris-setosa'),
 (1, 2, 4.9, 3.0, 1.4, 0.2, 'Iris-setosa'),
 (2, 3, 4.7, 3.2, 1.3, 0.2, 'Iris-setosa'),
 (3, 4, 4.6, 3.1, 1.5, 0.2, 'Iris-setosa'),
 (4, 5, 5.0, 3.6, 1.4, 0.2, 'Iris-setosa'),
 (5, 6, 5.4, 3.9, 1.7, 0.4, 'Iris-setosa'),
 (6, 7, 4.6, 3.4, 1.4, 0.3, 'Iris-setosa'),
 (7, 8, 5.0, 3.4, 1.5, 0.2, 'Iris-setosa'),
 (8, 9, 4.4, 2.9, 1.4, 0.2, 'Iris-setosa'),
 (9, 10, 4.9, 3.1, 1.5, 0.1, 'Iris-setosa')]

And there you have it: A fast and easy way to integrate SQL knowledge into Jupyter Notebooks!